[SERVER]
SERVERNAME={{stationeers_default_servername}}
GAMEPORT={{stationeers_default_gameport}}
UPDATERPORT={{stationeers_default_updateport}}
PASSWORD={{stationeers_default_password}}
MAPNAME={{stationeers_default_mapname}}
DESCRIPTION={{stationeers_default_description}}
MAXPLAYER={{stationeers_default_maxplayers}}
[RCON]
RCONPASSWORD={{stationeers_default_rconpassword}}